a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog,
div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form,
header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s,
samp, section, small, span, strike, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
        border: 0;
        margin: 0;
        padding: 0;
        font-size: 100%;
        color: #000;
        text-decoration: none;
}

h1, h2, h3, h4, h5, h6, h7, h8{
        border: 0;
        margin: 0;
        padding: 0;
        letter-spacing: -0.03em;
        font-weight : normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        }

body, html {
    overflow-x: hidden;
    background: white;
    color: #000;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

::selection{
    background-color: #ff7d07;
    color: white;
}





.header{
    background: cover;
    float: left;
    margin-left: 10px;
    bottom: -15px;
    position: fixed;
    color: black;
    z-index: 1;
    max-height: inherit;
    max-width: inherit;
}


.h:hover{
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 15px;
}




a:hover { 
    text-decoration: underline;
    text-decoration-color: #ff7d07;
    cursor: pointer;
}

h1{
    font-size: 112px;
    letter-spacing: -0.03em;
    color: black;
    position: relative;
    line-height: 1;
}

.title{
    margin-top: 80px;
    margin-bottom: 0px;
}


.numberone{
    letter-spacing: -0.15em;
}

.numberspacing{
    letter-spacing: -0.07em;
}

.introtext{
    max-width: 850px;
    margin-bottom: 150px;
}

.introtext2{
    max-width: 850px;
    margin-bottom: 150px;
    margin-top: 80px;
}


h2{
    font-size: 40px;
    letter-spacing: -0.03em;
    position: relative;
    color: black;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.2em;
}


/*
.h4orange{
    font-size: 180px;
    letter-spacing: -0.05em;
    color: #ff7d07;
    position: relative;
    line-height: 1em;
}
*/


nav{
    display: block;
    width:100%;
    position: absolute;
}



#fade {
    color: white;
    font-size: 150px;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.menubar{
    background-color: black;
    width:100%;
    z-index: 3;
    height:100%;
    position: fixed;
    display: none;
    
    
}

.menubar-show{
    display: inherit;
    
}

.menubar-hide{
    display: none;
    
}

.menubar:hover{cursor: pointer;}











.bottommobile{
    display: none;
}


.bounce{
    margin-left: 1290px;
    margin-bottom: 15px;
    position: fixed; 
  -webkit-animation:bounce 1s infinite;
    font-size: 60px;
    color: #7a7a7a;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}








footer{
    
}


